<ion-view view-title="Dancify">
  <style>
img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
h1{
  color: rgb(255,255,255);
}
h3{
  color: rgb(255,255,255);
}
#bg{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
</style>
  <ion-content>
 <img src="/img/dancing_files/a.jpg" id="bg" alt="">
 <center>
  <br>
  <br>
 <h1 class="homeFont">Welcome to Dancify!</h1>
 <br>
 <h3 class="greeting">A revolutionary app that will allow you to find a dance partner no matter where you are! <br><br><br><br><br><br><br>
  You can thank us later... </h3>
  <br><br><br><br><br><br><br><br>
  <ion-button class="button button-positive" menu-close ng-click="login()">
          <i class= "icon ion-checkmark-circled padding"></i>Join 
        </ion-item>
</center>
</ion-content>
</ion-view>

