<ion-view view-title="Notifications">
  <ion-content>
  <div class="buttons">
      <button class="button button-clear" ng-click="findTheMatch()">Refresh</button>
    </div>
  <div class="notifications" ng-repeat = "match in Match">
    
    <a class="item item-avatar" href="#">
      <!-- <img src="venkman.jpg"> -->
      <h2>{{match.matches.user1email}} </h2>
      <p>I am looking for a partner and I am a beginner dancer...</p>
    </a>

    <!-- <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Jennifer Lopez</h2>
      <p>I am looking for a partner and I am an advanced dancer...</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Beyonce</h2>
      <p>I am looking for a partner and I am a professional dancer...</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Kim Kardashian</h2>
      <p>I am looking for a partner and I am an amatuer dancer...</p>
    </a> -->

</div>

  </ion-content>
</ion-view>
