<ion-view view-title="Profile">
  <ion-content>

<a class="item item-avatar" href="#">
      <img src="venkman.jpg">

    </a>


  <div class="Profile Information">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Skill level</span>
    <input type="text" placeholder="Your Skill Level (amatuer,beginner,advanced,professional)">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Genre of Music</span>
    <input type="text" placeholder="Genre of Music">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Location</span>
    <input type="text" placeholder="Location">
  </label>
</div>



  </ion-content>
</ion-view>