<ion-view view-title="Search">
  <ion-content>
    <h2> Find your ideal dance partner using our descriptive match finder! </h2>

<textarea>
Name of Venue
</textarea>

<h5> Gender</h5>

<form>
  <input type="radio" name="sex" value="male" checked>Male
  <br>
  <input type="radio" name="sex" value="female">Female
  <br>
  <input type="radio" name="sex" value="other">Other
</form>

<br>
<br>

<h5> Music Preference</h5>

<form>
  <input type="radio" name="Music" value="salsa" checked>Salsa
  <br>
  <input type="radio" name="Music" value="hip hop">Hip Hop
  <br>
  <input type="radio" name="Music" value="other">Other
</form>

<br>
<br>

<h5> Skill Level</h5>

<form>
  <input type="radio" name="skill" value="Beginner" checked>Beginner
  <br>
  <input type="radio" name="skill" value="Intermediate">Intermediate
  <br>
  <input type="radio" name="skill" value="Advance">Advanced
  <br>
  <input type="radio" name="skill" value="Professional">Professional
</form>

<br>
<br>

<h5> Desired Partner Skill Level</h5>

<form>
  <input type="radio" name="partnerskill" value="Beginner" checked>Beginner
  <br>
  <input type="radio" name="partnerskill" value="Intermediate">Intermediate
  <br>
  <input type="radio" name="partnerskill" value="Advance">Advanced
  <br>
  <input type="radio" name="partnerskill" value="Professional">Professional
</form>

  </ion-content>
</ion-view>
